.pure-menu {
    font-weight: lighter;
    padding: 2em 0;
    text-align: left;
}

.pure-menu.pure-menu-open {
    color: @color_light;
    background: none repeat scroll 0 0 @background_dark;
}

.pure-menu .pure-menu-heading {
    color: @color_light;
    border-bottom: 1px solid @background_light;
}

.pure-menu .color-theme-projects {
    color: @color2;
}

.pure-menu .color-theme-machines {
    color: @color3;
}

.pure-menu .color-theme-images {
    color: @color4;
}

.pure-menu .color-theme-statistics {
    color: @color5;
}
