
.group-detail-header {
    background: @background_light_02d;
    border-bottom: 1px solid @background_light_10d;
    padding: 10px 20px 0;
}

.group-detail-header h1 {
    margin: 0;
    display: inline;
}

.group-detail h2 {
    margin: 10px 0 0 10px;
}
