<div class="pure-g action-container">

    <div class="pure-u-1">
        <button href="" class="action-box" ng-click="openNewGroupDialog()">
            <span>Add Group</span>
            <i class="fa fa-sitemap fa-2x"></i>
        </button>

        <button href="" class="action-box" ng-click="openNewMachineDialog()">
            <span>Add Machine</span>
            <i class="fa fa-desktop fa-2x"></i>
        </button>
    </div>

</div>

<div class="load-indicator" ng-show="!data.ready">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<form class="pure-form search-filter" ng-show="data.groups.length > 1" ng-show="data.ready">
    <fieldset>

        <legend>
            <span><i class="fa fa-search"></i> Group-/Machinesearch</span>
        </legend>

        <div class="pure-u-1">
            <input type="text" class="pure-input-rounded pure-input-1" ng-model="machineQuery" placeholder="Filter"/>
        </div>

    </fieldset>
</form>

<ul class="menu">
    <li class="menu-item" ng-repeat="group in data.groups | filter:machineQuery">
        <div class="menu-item-container machine-menu-item">
            <div class="machine-menu-item-header">
                <a ui-sref="machines.detail({ groupId: group._id })">
                    <span title="{{ group.name }}">{{ group.name }}</span>
                </a>
                <a class="float-right machine-menu-item-header-action" href="" ng-click="remove(group)" title="Remove {{ group.name }}">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </div>
    </li>
</ul>
