
<h1>Remove Machine</h1>

<div class="pure-g remove-machine-info">

    <div class="pure-u-1">
        <div class="float-right">
            <button type="button" class="pure-button" ng-click="closeDialog()">Cancel</button>
            <button type="submit" class="pure-button pure-button-error" ng-click="removeFromGroup()">Remove from Group</button>
            <button type="submit" class="pure-button pure-button-error" ng-click="removeMachine()">Remove Machine</button>
        </div>
    </div>

</div>
