language: ruby
rvm:
    - "1.9.3"
script: rspec --format nested
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq g++ make git sqlite3 libsqlite3-ruby1.9.1 libsqlite3-dev cgroup-lite redir libxslt1-dev libxml2-dev
