language: ruby
rvm:
    - "1.9.3"
gemfile:
    - Gemfile
script: rspec
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq g++ make git sqlite3 libsqlite3-ruby1.9.1 cgroup-lite redir
