
<div class="base-images-add-container">

    <form class="pure-form base-images-add">

        <fieldset>

            <legend class="legend-and-button">
                <span><i class="fa fa-plus"></i> New Base Image</span>
            </legend>

            <div class="pure-g">
                <div class="pure-u-2-3">
                    <input class="pure-input-1" type="text" placeholder="repository:tag" ng-model="data.newProject.url"/>
                </div>
                <div class="pure-u-1-8">
                    <button type="submit" class="pure-input-1 pure-button pure-button-success pure-button-small base-image-pull" ng-click="openDialog()" title="Pull Image">
                        <i class="fa fa-cloud-download"></i>
                    </button>
                </div>
                <div class="pure-u-1-8">
                    <button type="submit" class="pure-input-1 pure-button pure-button-success pure-button-small base-image-add" ng-click="openDialog()" title="Add new Image">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

        </fieldset>

    </form>

</div>

<div class="load-indicator" ng-show="!data.ready">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<form class="pure-form search-filter" ng-show="data.images.length > 1 && data.ready">
    <fieldset>

        <legend>
            <span><i class="fa fa-search"></i> Base-Imagesearch</span>
        </legend>

        <div class="pure-u-1">
            <input type="text" class="pure-input-rounded pure-input-1" ng-model="imageNameQuery" placeholder="Filter"/>
        </div>

    </fieldset>
</form>

<ul class="menu" ng-show="data.ready">

    <li ng-repeat="image in data.images | filter:imageNameQuery" class="menu-item" ng-class="{selected: $stateParams.baseImageId == image.attributes._id}">
        <div class="menu-item-container base-image-menu-item">
            <div class="base-image-menu-item-header">
                <a ui-sref="machines.group({ groupId: image.attributes._id })">
                    <span title="{{ image.attributes.name }}">{{ image.attributes.name }}</span>
                </a>
                <a class="float-right base-image-menu-item-header-action" ng-click="removeImage(image)" title="Remove {{ image.attributes.name }}">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>

            <a ui-sref="machines.group({ groupId: image.attributes._id })">{{ image.attributes.images.length }} image(s)</a>
        </div>
    </li>

</ul>
