
<h1>Upload {{ project.attributes.name }} / {{ data.version }}</h1>

<div class="load-indicator" ng-show="!data.ready">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<div class="upload-container" ng-show="data.ready">
    <form class="pure-form pure-form-aligned pure-u-1">

        <div class="pure-g">
            <fieldset class="pure-u-1">
                <div class="pure-control-group">
                    <select class="pure-u-1" size="10" ng-model="data.group" ng-options="group.attributes.name for group in data.groups">
                    </select>
                </div>
            </fieldset>
        </div>

        <div class="vertical-pad-20"></div>
        
        <div class="float-right">
            <button type="button" class="pure-button" ng-click="closeDialog()">Close</button>
            <button type="submit" class="pure-button pure-button-success" ng-click="upload()">Upload</button>
        </div>

    </form>
</div>
