
.projects-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-add-container {
    padding: 0 10px 0;
    background: @background_light_02d;
    border-bottom: 1px solid @background_light_10d;
}

.projects-add {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

.legend-and-button span {
    vertical-align: sub;
}

.legend-and-button button {
    float: right;
}

.projects-menu-item-container {
    padding: 0 10px 0;
}

.projects-menu-item {
    display: table;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid @background_light_10d;
}
