
<div class="projects-add-container">
    
    <form class="pure-form projects-add">
        
        <fieldset class="pure-group">
            
            <legend class="legend-and-button">
                <span><i class="icon-plus-sign"></i> New Project</span>
                <button type="submit" class="pure-button pure-button-success pure-button-xsmall" ng-click="save()">Add</button>
            </legend>
            
            <div class="pure-u-1">
                <input class="pure-input-1" type="text" placeholder="Name" ng-model="data.newProject.name"/>
                <input class="pure-input-1" type="text" placeholder="URL" ng-model="data.newProject.url"/>
            </div>
            
        </fieldset>
        
    </form>
    
</div>

<ul class="menu">

    <li ng-repeat="project in data.projects.elements" class="menu-item">
        <div class="menu-item-container project-menu-item">
            <div class="project-menu-item-header">
                <span>{{ project.name }}</span>
                <a class="float-right" href="" ng-click="remove(project.id)"><i class="icon-remove"></i></a>
            </div>
            <small><a href="{{ project.url }}">{{ project.url }}</a></small>
        </div>
    </li>
    
</ul>

