
<div class="load-indicator" ng-show="!data.ready">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<div class="project-detail-header" ng-show="data.ready">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend><h1>{{ data.project.attributes.name }}</h1></legend>
            <a href="{{ data.project.attributes.url }}" target="_blank" class="source-code-link">
                {{ data.project.attributes.url }}
            </a>

            <div class="pure-g version-chooser">
                <div class="pure-u-1-4">
                    <label>
                        Version
                        <a href="{{ data.project.url }}/tree/{{ data.selectedVersion.rev }}" target="_blank" class="source-code-link">
                            <i class="fa fa-github"></i> Browse Source Code
                        </a>
                    </label>
                    <select class="pure-input-2-3" ng-model="data.selectedVersion" ng-options="key for (key, value) in data.versions">
                    </select>
                </div>
                <div class="pure-u-1-4">
                    <label>Environment</label>
                    <select class="pure-input-2-3" ng-model="data.selectedEnvironment" ng-options="environment for environment in data.environments">
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="pure-g" ng-show="data.ready">

    <div class="project-detail pure-u-1" ng-show="data.selectedEnvironment">

        <div class="project-services-detail pure-g">
            <div ng-repeat="(key, value) in data.services" class="pure-u-1-2">
                <div service-widget
                     data-project="{{ data.project.attributes._id }}"
                     data-service="{{ key }}"
                     data-version="{{ data.selectedVersion.rev }}"
                     data-environment="{{ data.selectedEnvironment }}">
                </div>
            </div>
        </div>

    </div>

</div>
