
<div class="project-detail-header">
    <div>
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <legend>{{ data.project.name }}</legend>
                <small>{{ data.project.url }}</small>
                <div class="pure-g-r">
                    <div class="pure-u-1-4">
                        <label>Version</label>
                        <select class="pure-input-2-3" ng-model="data.selectedVersion" ng-options="key for (key, value) in data.versions">
                        </select>
                    </div>
                    <div class="pure-u-1-4">
                        <label>Environment</label>
                        <select class="pure-input-2-3" ng-model="data.selectedEnvironment" ng-options="environment for environment in data.environments">
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="pure-g">
    
    <div class="project-services-detail pure-u-1-2" ng-show="data.selectedEnvironment">
        
        <h2>{{ data.selectedEnvironment.name }}</h2>
        <ul class="project-services-list">
            <li ng-repeat="service in data.selectedEnvironment.services">
                <i></i>{{ service }}
            </li>
        </ul>
        
    </div>
    
</div>
