
.project-detail-header {
    padding: 10px 20px;
    background: @background_light_02d;
    border-bottom: 1px solid @background_light_10d;
    height: 155px;
}

.project-detail-header h1 {
    margin: 0;
    display: inline;
}

.project-detail-header small {
    color: @background_light_25d;
}

.project-services-list li:nth-child(1) i {
    margin: 0 5px 0 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAEklEQVQYlWNgoBL4T7GCoW8FAGEXBfvNSmHvAAAAAElFTkSuQmCC') repeat;
}

.project-services-list li:nth-child(2) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAD0lEQVQImWNgQAX/yeAAAIHCA/0RE2WAAAAAAElFTkSuQmCC') repeat;
}

.project-services-list li:nth-child(3) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z4AFkCAIAIHCA/05ycSYAAAAAElFTkSuQmCC') repeat;
}

.project-services-list li:nth-child(4) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNggID/UEwCgGsBAIHCA/2903WBAAAAAElFTkSuQmCC') repeat;
}

.project-services-list li:nth-child(5) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAE0lEQVQImWNgYGD4zwABMJpUAQATPwf5y3OomgAAAABJRU5ErkJggg==') repeat;
}

.project-services-list li:nth-child(6) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4j4YxAX4VAEcLB/kQkxYmAAAAAElFTkSuQmCC') repeat;
}

.project-services-list li:nth-child(7) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAE0lEQVQImWNggID/DGgAQwC3KgCBwgP9duG7FQAAAABJRU5ErkJggg==') repeat;
}

.project-services-list li:nth-child(8) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgwAL+QzGREgCBwgP9e4GcygAAAABJRU5ErkJggg==') repeat;
}

.project-services-list li:nth-child(9) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQImWNgQID/DGjgP2EZBgYGBgCJugP9bhPQdAAAAABJRU5ErkJggg==') repeat;
}

.project-services-list li:nth-child(10) i {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgYGD4z0AZAABABAEAuUSdjgAAAABJRU5ErkJggg==') repeat;
}
