
<div class="projects-add-container">
    
    <form class="pure-form projects-add">
        
        <fieldset>
            
            <legend class="legend-and-button">
                <span><i class="fa fa-plus"></i> New Project</span>
            </legend>
            
            <div class="pure-g">
                <div class="pure-u-3-4">
                    <input class="pure-input-1" type="text" placeholder="URL" ng-model="data.newProject.url"/>
                </div>
                <div class="pure-u-1-8 right-float">
                    <button type="submit" class="pure-input-1 pure-button pure-button-success pure-button-small project-info-button" ng-click="openDialog()">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            
        </fieldset>
        
    </form>
    
</div>

<form class="pure-form project-name-filter" ng-show="data.projects.length > 1">
    <fieldset>
        
        <legend>
            <span><i class="fa fa-search"></i> Projectsearch</span>
        </legend>
        
        <div class="pure-u-1">
            <input type="text" class="pure-input-rounded pure-input-1" ng-model="projectNameQuery" placeholder="Filter"/>
        </div>
        
    </fieldset>
</form>

<ul class="menu">

    <li ng-repeat="project in data.projects | filter:projectNameQuery" class="menu-item" ng-class="{selected: $stateParams.projectId == project.id}">
        <div class="menu-item-container project-menu-item">
            <div class="project-owner-image-container pure-u-1-5">
                <a ui-sref="projects.detail({ projectId: project._id })">
                    <span class="project-owner-image" title="{{ project.name }}" style="background-image: url('{{ project.imageUrl }}');"></span>
                </a>
            </div>
            <div class="project-menu-item-header pure-u-2-3">
                <a ui-sref="projects.detail({ projectId: project._id })">
                    <span title="{{ project.name }}">{{ project.name }}</span>
                </a>
                <a class="float-right project-menu-item-header-action" href="" ng-click="remove(project._id, project.url)" title="Remove {{ project.name }}">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
            <small><a target="_blank" href="{{ project.url }}">{{ project.url }}</a></small>
        </div>
    </li>
    
</ul>
