
/* http://www.colourlovers.com/palette/871636/A_Dream_in_Color */
/*
@color1: #1B676B;
@color2: #519548;
@color3: #88C425;
@color4: #BEF202;
@color5: #EAFDE6;
*/

/* http://www.colourlovers.com/palette/1274446/magic_dream */
/*
@color1: #F64E15;
@color2: #E0E8C8;
@color3: #B3E810;
@color4: #3F8C52;
@color5: #1E676D;
*/

/* http://www.colourlovers.com/palette/46688/fresh_cut_day */
/*
@color1: #00A8C6;
@color2: #40C0CB;
@color3: #F9F2E7;
@color4: #AEE239;
@color5: #8FBE00;
*/

/* http://www.colourlovers.com/palette/848743/%28%E2%97%95_%E2%80%9D_%E2%97%95%29 */
@color1: #490A3D;
@color2: #BD1550;
@color3: #E97F02;
@color4: #F8CA00;
@color5: #8A9B0F;

@color1_05l: lighten(@color1, 5%);
@color1_10l: lighten(@color1, 10%);
@color1_15l: lighten(@color1, 15%);
@color1_05d: darken(@color1, 5%);
@color1_10d: darken(@color1, 10%);
@color1_15d: darken(@color1, 15%);

@color2_05l: lighten(@color2, 5%);
@color2_10l: lighten(@color2, 10%);
@color2_15l: lighten(@color2, 15%);
@color2_05d: darken(@color2, 5%);
@color2_10d: darken(@color2, 10%);
@color2_15d: darken(@color2, 15%);

@color3_05l: lighten(@color3, 5%);
@color3_10l: lighten(@color3, 10%);
@color3_15l: lighten(@color3, 15%);
@color3_05d: darken(@color3, 5%);
@color3_10d: darken(@color3, 10%);
@color3_15d: darken(@color3, 15%);

@color4_05l: lighten(@color4, 5%);
@color4_10l: lighten(@color4, 10%);
@color4_15l: lighten(@color4, 15%);
@color4_05d: darken(@color4, 5%);
@color4_10d: darken(@color4, 10%);
@color4_15d: darken(@color4, 15%);

@color5_05l: lighten(@color5, 5%);
@color5_10l: lighten(@color5, 10%);
@color5_15l: lighten(@color5, 15%);
@color5_05d: darken(@color5, 5%);
@color5_10d: darken(@color5, 10%);
@color5_15d: darken(@color5, 15%);

@color_dark: #252A3A;
@color_light: #fff;
@background_dark: #252A3A;
@background_light: #fff;

@import (less) "../vendor/pure/pure.css";

.color1-bg {
    background: @color1;
}

.color2-bg {
    background: @color2;
}

.color3-bg {
    background: @color3;
}

.color4-bg {
    background: @color4;
}

.color5-bg {
    background: @color5;
}

@import "./home/menu.less";
@import "./home/overview.less";

@import "./projects/detail.less";
@import "./projects/menu.less";
@import "./projects/overview.less";
