
<h1>New BaseImage</h1>

<div class="pure-g new-base-image-info">
    
    <form class="pure-form pure-form-aligned pure-u-1">
        
        <div class="pure-g">
            <fieldset class="pure-u-3-8">
                <div class="pure-control-group">
                    <label>Repository</label>
                    <input type="text" ng-model="data.baseImage.name" class="pure-input-1-2"/>
                </div>
                
                <div class="pure-control-group">
                    <label>Version</label>
                    <input type="text" ng-model="data.baseImage.version" class="pure-input-1-2"/>
                </div>
                
                <div class="pure-control-group">
                    <label>Base Image</label>
                    <input type="text" ng-model="data.baseImage.baseImage" class="pure-input-1-2"/>
                </div>
                
                <div class="pure-control-group">
                    <label>Provisioner</label>
                    <input type="text" ng-model="data.baseImage.provision" class="pure-input-1-2"/>
                </div>
                
                <div class="pure-control-group">
                    <label>Provisioner Version</label>
                    <input type="text" ng-model="data.baseImage.provisionVersion" class="pure-input-1-2"/>
                </div>
            </fieldset>
            
            <div class="pure-u-1-8">
                <div class="vertical-divider"></div>
            </div>
            
            <fieldset class="pure-u-1-2">
                <div class="package-list" kendo-list-view k-options="data.packagesOptions"></div>
                <a class="k-button k-button-icontext k-add-button" ng-click="addPackage()"><span class="k-icon k-add"></span>Add</a>
            </fieldset>
        </div>
        
        <div class="vertical-pad-20"></div>
        
        <div class="float-right">
            <button type="button" class="pure-button" ng-click="closeDialog()">Cancel</button>
            <button type="submit" class="pure-button pure-button-success" ng-click="saveBaseImage()">Add</button>
        </div>
        
    </form>
    
</div>
