<form class="pure-form pure-form-aligned pure-u-1">
    
    <div class="pure-g">
        <fieldset class="pure-u-3-8">
            <div class="pure-control-group">
                <label>Repository</label>
                <input type="text" ng-model="data.baseImage.name" class="pure-input-1-2"/>
            </div>
            
            <div class="pure-control-group">
                <label>Version</label>
                <input type="text" ng-model="data.baseImage.version" class="pure-input-1-2"/>
            </div>
            
            <div class="pure-control-group">
                <label>Base Image</label>
                <input type="text" ng-model="data.baseImage.baseImage" class="pure-input-1-2"/>
            </div>
            
            <div class="pure-control-group">
                <label>Provision</label>
                <input type="text" ng-model="data.baseImage.provision" class="pure-input-1-2"/>
            </div>
            
            <div class="pure-control-group">
                <label>Provision Version</label>
                <input type="text" ng-model="data.baseImage.provisionVersion" class="pure-input-1-2"/>
            </div>
        </fieldset>
        
        <div class="pure-u-1-8">
            <div class="vertical-divider"></div>
        </div>
        
        <fieldset class="pure-u-1-2">
            <div class="pure-control-group">
                <label class="top-label">Packages</label>
                <select class="pure-u-1-2" size="10" ng-options="package.name for package in data.packages">
                </select>
            </div>
        </fieldset>
    </div>
    
    <div class="vertical-pad-20"></div>
    
    <div class="float-right">
        <button type="submit" class="pure-button pure-button-success" ng-click="saveBaseImage()">Save</button>
    </div>
    
</form>
